<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>          
        <record model="ir.actions.act_window" id="action_workgroup_tree">
            <field name="name">Workgroups</field>
            <field name="res_model">ims.workgroup</field>
            <field name="view_mode">tree,form</field>
        </record>  

        <menuitem name="Workgroups" sequence="2" id="menu_workgroups" parent="hr.menu_config_employee" action="action_workgroup_tree"/>                                
    </data>
</odoo>