<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>          
        <record model="ir.actions.act_window" id="action_settings">
            <field name="name">Configuration</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">res.config.settings</field>
            <field name="view_mode">form</field>
            <field name="target">inline</field>
            <field name="context">{'module' : 'ims'}</field>
        </record>
        
        <menuitem name="Space types" sequence="1" id="menu_facilities_config_space_type" parent="menu_facilities_config" action="action_space_type_tree"/>
    </data>
</odoo>