<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>          
        <record model="ir.actions.act_window" id="action_level_tree">
            <field name="name">Levels</field>
            <field name="res_model">ims.level</field>
            <field name="view_mode">tree,form</field>
        </record>
                
        <menuitem name="Levels" sequence="1" id="menu_levels" parent="menu_curriculum" action="action_level_tree"/>
    </data>
</odoo>