<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <act_window id="action_ims_uf_tree" name="Gestio Academica" res_model="ims.uf" view_mode="tree,form"/>    
        <act_window id="action_ims_mp_tree" name="Gestio Academica" res_model="ims.mp" view_mode="tree,form"/>
        
        <menuitem id="menu_root" name="Gestio Academica"/>
        <menuitem name="Gestio de MPs" id="menu_mps" parent="menu_root" action="action_ims_mp_tree"/>
        <menuitem name="Gestio de UFs" id="menu_ufs" parent="menu_root" action="action_ims_uf_tree"/>   
    </data>
</odoo>