<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>          
        <record model="ir.actions.act_window" id="action_attendance_template_tree">
            <field name="name">Attendance template</field>
            <field name="res_model">ims.attendance_template</field>
            <field name="view_mode">tree,form</field>            
        </record>
            
        <menuitem name="Templates" sequence="2" id="menu_attendance_template" parent="menu_attendance_config_sessions" action="action_attendance_template_tree"/>
    </data>
</odoo>