<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>          
        <record model="ir.actions.act_window" id="action_space_type_tree">
            <field name="name">Space Types</field>
            <field name="res_model">ims.space_type</field>
            <field name="view_mode">tree,form</field>
        </record>
        
        <menuitem name="Space types" sequence="1" id="menu_facilities_config_space_type" parent="menu_facilities_config" action="action_space_type_tree"/>
    </data>
</odoo>