<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <!-- <data>          
        <record model="ir.actions.act_window" id="action_attendance_status_tree">
            <field name="name">Status</field>
            <field name="res_model">ims.attendance_status</field>
            <field name="view_mode">tree,form</field>            
        </record>
            
        <menuitem name="Status" sequence="3" id="menu_attendance_status" parent="menu_attendance" action="action_attendance_status_tree"/>
    </data> -->
</odoo>