<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>          
        <record model="ir.actions.act_window" id="action_record_tree">
            <field name="name">Records</field>
            <field name="res_model">ims.record</field>
            <field name="view_mode">tree,form</field>
        </record>
                
        <menuitem name="Records" sequence="1" id="menu_records" parent="menu_documentation" action="action_record_tree"/>
    </data>
</odoo>