<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>          
        <record model="ir.actions.act_window" id="action_subject_tree">
            <field name="name">Subjects</field>
            <field name="res_model">ims.subject</field>
            <field name="view_mode">tree,form</field>
            <field name="context">{'search_default_group_by_study': 1}</field>
        </record>
            
        <menuitem name="Subjects" sequence="3" id="menu_subjects" parent="menu_curriculum" action="action_subject_tree"/>
    </data>
</odoo>